<mat-card appearance="outlined" class="empty-card">
  <mat-card-content class="empty-container">

    <div class="icon-wrapper">
      <img
        src="/img/Frame_13.svg"
        alt="empty state"
        class="empty-image">
    </div>

    <div class="text-wrapper">
      <h2 class="empty-title">
        {{ title }}
      </h2>

      <p class="empty-message">
        {{ message }}
      </p>

     <!--  <button 
        *ngIf="buttonText"
        mat-raised-button 
        color="primary"
        (click)="action.emit()">
        {{ buttonText }}
      </button> -->
    </div>

  </mat-card-content>
</mat-card>
