<h2 mat-dialog-title>Mostrar finanzas</h2>
<mat-dialog-content>
  <p>Ingresa tu contraseña para mostrar tus fiananzas del mes</p>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput [formControl]="password" type="password" autocomplete="new-password"/>
    @if (password.hasError('required')) {
      <mat-error>Debes ingresar tu <strong>password</strong></mat-error>
    }
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-button color="primary" (click)="confirm()">Ok</button>
</mat-dialog-actions>