    <mat-toolbar class="main-toolbar">
        <img src="/img/logo.png" alt="" (click)="goToDashboard()">
        <span class="spacer"></span>
        <span class="spacer"></span>
    <span class="menu-item" (click)="goToDashboard()">Inicio</span>
    <span class="menu-item" (click)="goToPatients()">Pacientes</span>
    <span class="menu-item" (click)="goToAgenda()">Agenda</span>
    <span class="menu-item" (click)="goToConfig()">Configuraciones</span>
    <button mat-mini-fab class="logout-navbar-button" (click)="doLogout()">
        <mat-icon>logout</mat-icon>
    </button>
    </mat-toolbar>