<app-nav-bar></app-nav-bar>
<ngx-spinner type="ball-newton-cradle"></ngx-spinner>

<div class="container">
  <div class="row navigation_row">
    <div class="col-12">
      <span class="pacientes_navigation">Inicio > Agenda</span>
    </div>
  </div>
  <div class="row pacientes_header_row">
    <div class="col-6">
      <div class="title_container">
        <mat-icon svgIcon="agenda" class="dashboard_agenda_icon"></mat-icon>
        <span class="pacientes_title">Agenda</span>
      </div>
    </div>
    <div class="col-6">
      <div class="nuevo_paciente_button_container">
        @if (!isUserSyncGoogle) {
        <button mat-stroked-button color="primary" class="google-connect-btn" (click)="syncGoogle()">
          <img src="icons/google-calendar.png" alt="Google logo" />
          Connectar
        </button>
        }
        <!--               <button mat-stroked-button color="primary" class="google-connect-btn" (click)="syncGoogle()" *ngIf="!isUserSyncGoogle">
                <img src="icons/google-calendar.png" alt="Google logo" />
                Connectar
              </button> -->

        <button mat-fab extended class="logout-navbar-button mat-elevation-z0" (click)="newAppointment()">Agregar
          Cita</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 agenda-container">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="onViewDateChange($event)">
              Anterior
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
              (viewDateChange)="onViewDateChange($event)">
              Actual
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="onViewDateChange($event)">
              Siguiente
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>
            {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
          </h3>
        </div>
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
              [class.active]="view === CalendarView.Month">
              Mes
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week">
              Semana
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
              Día
            </div>
          </div>
        </div>
      </div>
      <div>
        @switch (view) {
        @case ("month") {
        <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-month-view>
        }
        @case ("week") {
        <mwl-calendar-week-view [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh">
        </mwl-calendar-week-view>
        }
        @case ("day") {
        <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [locale]="locale" [refresh]="refresh">
        </mwl-calendar-day-view>
        }
        }
      </div>
    </div>
  </div>
</div>