<h2 mat-dialog-title class="dialog-title">Imprimir Consentimiento</h2>
<mat-dialog-content>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Elige el consentimiento a imprimir</mat-label>
        <mat-select [formControl]="informedConsent" >
            @for(consent of informedConsentList; track consent.name){
                <mat-option [value]="consent.name">{{consent.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()" color="warn">Cancelar</button>
    <button mat-button (click)="onSave()" color="primary">imprimir</button>
</mat-dialog-actions>