.full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .custom-content{
    height: 100%;
    margin-top: 5px;
  }

//JCMV to style inputs as design required DO NOT REMOE
.mat-mdc-text-field-wrapper {
  background-color: #fff !important;
}

.mdc-text-field {
  background-color: #fff !important;
}

.mdc-text-field--filled {
  background-color: #fff !important;
}

.mdc-text-field--focused {
  background-color: #fff !important;
}
//JCMV to style inputs as design required DO NOT REMOE

.dialog-title {
  color: #407DDA;
}

.mat-mdc-text-field-wrapper {
  background-color: #C0D9FF !important;
}