<h2 mat-dialog-title class="custom-dialog-title">Nuevo Pago</h2>
<mat-dialog-content class="payment-dialog-content">
    <div class="d-flex flex-column">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Fecha:</mat-label>
            <input matInput placeholder="" [value]="getFechaActual()" disabled>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre del Paciente:</mat-label>
            <input matInput placeholder="" [value]="getPatientFullName()" disabled>
        </mat-form-field>
    </div>
    <form [formGroup]="paymentFormGroup">
      <div class="table-container">
        <table mat-table class="mat-elevation-z0" [dataSource]="conceptData" formArrayName="concepts">
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; let i = index; columns:   displayedColumns"></tr>
          
          <!-- concept column-->
          <ng-container matColumnDef="concept">
            <th mat-header-cell *matHeaderCellDef>Concepto</th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
              <mat-form-field appearance="outline"  class="full-width">
                <mat-label></mat-label>
                <mat-select formControlName="paymentConcept" (selectionChange)="calculatePricesRow($event.value, i, conceptElement)">
                  <mat-option *ngFor="let concept of conceptList" [value]="concept.id">
                    {{concept.description}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paymentFormGroup?.get('concepts')?.get(i.toString())?.get('paymentConcept')?.hasError('required')">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </td>
          </ng-container>

            <!-- Unit Prize -->
            <ng-container matColumnDef="unitPrize">
            <th mat-header-cell *matHeaderCellDef>Precio</th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
              <mat-form-field appearance="outline" class="full-width">
                <input matInput  
                  required 
                  formControlName="unitPrize"
                  [readonly]="true"/>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Payment Method -->
          <ng-container matColumnDef="paymentMethod">
            <th mat-header-cell *matHeaderCellDef>Forma de Pago</th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label></mat-label>
                <mat-select formControlName="paymentMethod">
                  <mat-option *ngFor="let method of paymentMethodList" [value]="method.id">
                    {{method.description}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="paymentFormGroup?.get('concepts')?.get(i.toString())?.get('paymentMethod')?.hasError('required')">
                  Este campo es obligatorio
                </mat-error>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Subtotal -->
          <ng-container matColumnDef="subtotal">
            <th mat-header-cell *matHeaderCellDef>Subtotal</th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
              <mat-form-field appearance="outline" class="full-width">
                <input matInput required formControlName="subtotal" [readonly]="true"/>
              </mat-form-field>
            </td>
          </ng-container>
    
          <!-- quantity -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
              <mat-form-field appearance="outline" class="full-width">
                <input matInput type="text" required formControlName="quantity" (input)="calculateSubtotal(i)"/>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- discount -->
          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef>Descuento</th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
                <!-- we add a check, if is marked we enable discount input-->
                <div class="d-flex align-items-center justify-content-center">
                   <mat-checkbox></mat-checkbox>
                 <mat-form-field appearance="outline" class="full-width">
                <input matInput type="text" required formControlName="discount"/>
              </mat-form-field>
                </div>
                
            </td>
          </ng-container>

            <!-- actrions column -->
            <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>
              <mat-icon class="add_icon" svgIcon="add" (click)="addItem()"></mat-icon>
            </th>
            <td mat-cell [formGroupName]="i" *matCellDef="let conceptElement ; let i = index">
              <mat-icon *ngIf=" i !== 0" class="add_icon" svgIcon="remove" (click)="removeItem(i)"></mat-icon>
            </td>
          </ng-container>
        </table>
      </div>
      
      <div class="d-flex justify-content-center">
          <mat-form-field class="payment-dialog-resume-controls" appearance="outline">
              <mat-label>Total: </mat-label>
              <!-- <input matInput  [value]="getTotal()" (input)="calculateDebt()" appCurrencyMask> -->
              <input matInput formControlName="total" [readonly]="true">
          </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
          <mat-form-field class="payment-dialog-resume-controls" appearance="outline">
              <mat-label>Ingreso:</mat-label>
              <!-- <input matInput  [(ngModel)]="income" (input)="calculateDebt()" appCurrencyMask> -->
              <input matInput formControlName="income" 
              (focus)="onIncomeFocus($event)"
              (blur)="onIncomeBlur($event)"
              >
          </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
          <mat-form-field class="payment-dialog-resume-controls" appearance="outline">
              <mat-label>Adeudo:</mat-label>
              <!-- <input matInput  [(ngModel)]="debt" appCurrencyMask> -->
              <input matInput formControlName="debt" [readonly]="true">
          </mat-form-field>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false" color="warn">Cancelar</button>
  <button mat-button (click)="savePayment()">Guardar</button>
</mat-dialog-actions>
